html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
  
}

.logo{
  text-align: center;
  background-color: rgb(49, 109, 179);
  color : white;
  padding: 0.5em;
}
#detailed-info {
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#character-bar {
  height: 15vh;
  background: rgb(49, 109, 179);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
  flex-wrap: wrap;
}

#character-bar span {
  padding: 1%;
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  align-items: center;
  border-radius: 2em;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

#character-bar span:hover {
  background-color: grey;
}

#image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;

}

.characterInfo{
  height: 550px;
  padding: 30px;
  font-size: 24px;
  border: plain;
  text-align: center;
}

input[type="submit"], button {
  background-color: rgb(49, 109, 179);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover, button:hover {
  background-color: blue;
}

input[type="text"], input[type="number"], input[type="url"] {
  font-size: 3vh;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  max-width: 300px;
  display: block;
  margin: 10px auto;
}
#reset-btn{
  background-color: blue;
  margin-top: 10px;
}
